@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #fffbf0;
}
.penguin {
  color: #fabe4c;
}
.women-jacket img {
  height: 300px;
}
.man-jacket img {
  height: 300px;
}
